

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.footer{
    text-align: justify center;
    color:aliceblue;
    height: 50px;
    
    
}


.copy{
    text-align: center;   
    color: rgb(241, 241, 245);  
}

.footer2{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 15px;
    cursor: pointer;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
 }

 a:link{
    text-decoration: none;
 }


.redes{
    text-align: center;
    cursor: pointer;

}





