* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    transition: background-color 0.4s;
    font-size: 25px;
    color: azure;
}

.navbar {
    background-color: orange;
    width: 100%;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}


.navbar .menu {
    flex: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.navbar .menu .links {
    max-height: 80px;
}

.navbar .menu button {
    display: none;
    margin-left: 20px;
}

.navbar .menu #hidden {
    display: flex;
}


.navbar .menu .links a {
    max-height: 80px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-left: 15px;
}

.navbar .logoo{
    padding: 10px 30px 50px;
    height: 30px;
    cursor: pointer;
    left: 14px;
    
}



@media only screen and (max-width: 850px) {
    .navbar .menu .links a {
        font-size: 20px;
    }

    ;
}

@media only screen and (max-width: 750px) {
    .navbar .menu .links a {
        font-size: 15px;
    }

    ;
}

@media only screen and (max-width: 650px) {
    .navbar .menu button {
        display: flex;
    }

    .navbar .menu .links {
        display: none;
    }

    .navbar .menu #hidden {
        position: absolute;
        left: 0px;
        top: 80px;
        height: 230px;
        max-height: 230px;
        width: 100%;
        background-color: yellow;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .menu #hidden a {
        margin: 10px;
        font-size: 25px;
    }

    button{
        background-color: rgb(210, 171, 99);
        font-size: 25px;
    }

    .navbar .logo {
        height: 50px;
        align-content: center;
        margin-left: 10px;
        margin-top: 13px;
  

}
}

